
<main class='albums'>
  <div class="container">
    <%= link_to "Back to albums", albums_path, class: 'btn btn-default'%>
    <%= link_to "Add a new song", new_track_path, class: 'btn btn-default'%>
    <%= link_to "See favorites songs", new_track_path, class: 'btn btn-default'%>
    <div class="show row">
      <div class="cover col-md-4"></div>

      <div class="col-sm-8">
        <h2 class="album-title"><%= @album.name %></h2>
        <p class="album-artist"><%= @album.band.name %> <%= @album.year%></p>


        <div class="track row">
          <% @album.tracks.each do |track|%>
          <div class="name col-md-8"><%= track.name%>
            <% if track.favorite %>
              <%= link_to "",  favorite_song_album_path(track), class: ' fa fa-star-o favorite', method: :put %>
            <% else %>
              <%= link_to "",  favorite_song_album_path(track), class: ' fa fa-star-o', method: :put %>
            <% end %>

          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

</main>
