<!DOCTYPE html>
<html>
<head>
  <title>Recordly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <aside class="left">Recordly</aside>
      <% if logged_in? %>
        <aside class="right"><ul class='home_nav'>
          <li><%= link_to 'Albums', albums_path %></li>
          <li><%= link_to 'Artists', bands_path %></li>
          <li><%= link_to 'Records', tracks_path %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul></aside>
      <% else %>
      <ul>
        <li><%= link_to 'Log in', login_path%></li>
      </ul>
      <% end %>
    </div>
  </header>

    <%= yield %>


</body>
</html>
